:root {
    --on-primary: 255 255 255;
    --surface-container: 232 234 246;
    --primary-fixed-dim: 165 180 252;
    --outline: 99 102 241;
    --on-background: 15 23 42;
    --surface: 248 250 252;
    --outline-variant: 199 210 254;
    --error: 225 29 72;
    --surface-container-highest: 224 231 255;
    --primary: 49 46 129;
    --surface-container-lowest: 255 255 255;
    --on-tertiary-fixed: 30 27 75;
    --on-primary-fixed: 15 23 42;
    --secondary-fixed-dim: 129 140 248;
    --surface-container-high: 238 242 255;
    --background: 248 250 252;
    --tertiary-fixed-dim: 199 210 254;
    --on-surface: 15 23 42;
    --tertiary-container: 67 56 202;
    --surface-container-low: 241 245 249;
    --on-tertiary-fixed-variant: 49 46 129;
    --on-secondary-fixed: 30 27 75;
    --tertiary: 55 48 163;
    --on-error-container: 136 19 55;
    --inverse-surface: 30 41 59;
    --primary-container: 55 48 163;
    --on-tertiary: 255 255 255;
    --secondary-container: 129 140 248;
    --on-tertiary-container: 224 231 255;
    --inverse-on-surface: 241 245 249;
    --secondary: 79 70 229;
    --primary-fixed: 224 231 255;
    --tertiary-fixed: 224 231 255;
    --surface-bright: 248 250 252;
    --on-secondary-fixed-variant: 55 48 163;
    --error-container: 255 228 230;
    --on-primary-fixed-variant: 49 46 129;
    --on-secondary-container: 30 27 75;
    --on-surface-variant: 71 85 105;
    --secondary-fixed: 224 231 255;
    --surface-variant: 226 232 240;
    --surface-tint: 67 56 202;
    --on-secondary: 255 255 255;
    --surface-dim: 203 213 225;
    --on-primary-container: 199 210 254;
    --inverse-primary: 165 180 252;
    --on-error: 255 255 255;
}


.dark {
    --on-primary: 255 255 255;
    --surface-container: 30 41 59;
    --primary-fixed-dim: 129 140 248;
    --outline: 129 140 248;
    --on-background: 226 232 240;
    --surface: 15 23 42;
    --outline-variant: 51 65 85;
    --error: 251 113 133;
    --surface-container-highest: 51 65 85;
    --primary: 129 140 248;
    --surface-container-lowest: 15 23 42;
    --on-tertiary-fixed: 30 27 75;
    --on-primary-fixed: 15 23 42;
    --secondary-fixed-dim: 99 102 241;
    --surface-container-high: 30 41 59;
    --background: 15 23 42;
    --tertiary-fixed-dim: 129 140 248;
    --on-surface: 226 232 240;
    --tertiary-container: 67 56 202;
    --surface-container-low: 22 31 49;
    --on-tertiary-fixed-variant: 49 46 129;
    --on-secondary-fixed: 224 231 255;
    --tertiary: 165 180 252;
    --on-error-container: 254 205 211;
    --inverse-surface: 226 232 240;
    --primary-container: 49 46 129;
    --on-tertiary: 255 255 255;
    --secondary-container: 55 48 163;
    --on-tertiary-container: 224 231 255;
    --inverse-on-surface: 15 23 42;
    --secondary: 129 140 248;
    --primary-fixed: 224 231 255;
    --tertiary-fixed: 224 231 255;
    --surface-bright: 30 41 59;
    --on-secondary-fixed-variant: 55 48 163;
    --error-container: 76 5 25;
    --on-primary-fixed-variant: 49 46 129;
    --on-secondary-container: 224 231 255;
    --on-surface-variant: 148 163 184;
    --secondary-fixed: 49 46 129;
    --surface-variant: 51 65 85;
    --surface-tint: 129 140 248;
    --on-secondary: 255 255 255;
    --surface-dim: 2 6 23;
    --on-primary-container: 199 210 254;
    --inverse-primary: 49 46 129;
    --on-error: 255 255 255;

}